@charset "utf-8";
@import "_component";

$pc: 85rem;
$tablet: 62.5rem;
$mobile-lg: 50rem;
$mobile-sm: 31.25rem;
$mobile-xs: 22.5rem;



@media screen and (max-width: $pc) {

    .main {
        &--home {
            &--tit,
            .main--tit-icon::before,
            &--arrw {
                font-size: 144px;
            }
        }
        &--me {
            &--img {
                width: 50%;
                &:nth-of-type(1) {
                    margin-top: 40%;
                }
                &:nth-of-type(2) {
                    margin-top: 150%;
                }
            }
        }
    }
    .pop {
        &__group {
            margin-bottom: 80px;
            & > div {
                display: block;
                margin-bottom: 80px;
                img {
                    margin: 0 auto;
                }
            }
            p {
                margin-top: 32px;
            }
            
        }
        .pop__area {
            &.tok-re {
                .pop__group:nth-of-type(2){
                    display: block;
                    & > div {
                        margin-right: 0;
                        margin: 0 auto 80px;
                        width: 100% !important;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:nth-child(2) {
                            padding-right: 0;
                        }
                    }
                } 
            }
            &.tok {
                video {
                    width: 90%;
                }
            }
        }
    }
}
@media screen and (max-width: 80rem) {
    .main--expr .expr--galry {
        max-width: 100%;
        & .galry__area {
            & > a {
                & .galry--txt,
                & .galry--img {
                    width: calc(100% / 2);
                }
            }
        }
    }
}
@media screen and (max-width: 75rem) {
    .main {
     &--expr {
         & h2 {
            font-size: 56px;
         }
         &--huge-txt.intro--active span,
         &--huge-move.intro--active span{
            animation: bounce2 0.3s ease forwards;
         }
     }
    }
    .pop {
        &--design {
            & > img {
                width: 100%;
            }
        }
    }
 }
@media screen and (max-width: $tablet) {
  
    .fullwidth {
        .scr {
            &--pc {
                display: none;
            }
            &--tablet {
                display: block !important;
            }
            &--mo {
                display: flex !important;
            }
        }
    }
    .wrap {
        & > div {
            padding: 0 20px 20px 20px !important;
        }
    }
    .main {
        &--home {
            &--tit:nth-child(2) {
                flex-wrap: wrap;
            }
            &--tit,
            .main--tit-icon::before,
            &--arrw {
                font-size: 15vw;
            }
            &--tit {
                overflow: hidden;
            }
            &--tit:nth-child(2)  {
                span:first-child {
                    margin-left: -13%;
                }
                span:last-of-type{
                    position:relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 37%;
                        left: calc(100% + .625rem);
                        width: 120%;
                        height: .75rem;
                        background-color: $colr-black;
                    }
                 }
            }
            &--arrw {
                width: 100%;
                li {
                    margin-right: 10%;
                }
            }
            small {
                margin-bottom: 28.8px;
                font-size: var(--fsz-sub);
                &:nth-of-type(2) {
                    margin-bottom: 50px;
                }
            }
        }
        &--me {
            &--tit {
                order: 2;
                width: 100%;
                padding: 0;
                font-size: 40px;
                &::before {
                    width: 150px;
                    margin-bottom: 16px; 
                }
                li {
                    font-size: 10vw;
                }
            }
        }
        &--expr {
            .badge {
                font-size: 13px;
            }
            & .slide {
                &__group {
                    aspect-ratio: 1/1;
                }
                &--ctrl {
                    right: 0;
                }
                &--movie {
                    & > img,
                    & > video {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            & .expr--galry {
                margin-top: 60px;
                & .ar--flex {
                    margin-bottom: 30px;
                    &:nth-child(2n) {
                        flex-direction: row-reverse;
                        & .galry--txt {
                            justify-items: self-end;
                        }
                    }
                    & .galry--txt,
                    & .galry--img {
                        width: calc(100% / 2);
                    }
                }
            }
        }
    }
    .ani {
        &--wheel {
            position: static;
            min-height: auto;
        }
    }
    .pop {
        &--body,
        &--foot,
        &--design {
            padding: 140px 20px;
        }
        &--foot {
            padding: 90px 0 !important;
        }
        &--design {
            padding-top: 0;
            padding-bottom: 0;
        }
        &__group {
            p {
                font-size: 18px;
            }
            .line-break-02 {
                display: block;
            }
        }
        .pop__area {
            & h2,
            & small {
                margin-bottom: 20px;
            }
            .pop--visual {
                width: 100%;
                padding-top: 102%
            }
            &.tok-re .pop--visual::after {
                background-image: url('../images/img_bidtok-re_visual_tablet_pop.jpg');
            }
            &.tok .pop--visual::after  {
                background: #f7f7f7 url('../images/img_bidtok_visual_tablet_pop.jpg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.tok video {
                width: 50%;
                margin: 0 auto;
            }
            &.admin .pop--visual::after {
                background-image: url('../images/img_admin_visual_tablet_pop.jpg');
            } 
        }
    }
    
}
@media screen and (max-width: $mobile-lg) {
    .fullwidth {
        .scr {
            &--tablet {
                display: none !important;
            }
            &--tablet-mo {
                display: block !important;        
            }
        }
    }
    nav {
        padding: 16px 20px;
        .ar--btn {
            font-size: 18px;
        }
    }
    .main {
        &--home {
            margin-bottom: 30px;
            &--tit,
            .main--tit-icon::before,
            &--arrw {
                font-size: 14vw;
            }
            &--tit {
                &:first-child {
                    margin-bottom: 12.8px;
                    margin-left: -16px;
                }
                &:nth-child(2) span:last-of-type::after {
                    width: 80%;
                }
            }
            &--arrw {
                width: calc(14vw * 5);
                justify-content: space-between;
                li {
                    margin-right: 0;
                }
            }
            small {
                padding-left: 0;
                text-align: center;
                &:nth-of-type(2) {
                    margin-bottom: 24px;
                }
            }
        }
        &--me {
            flex-direction: column;
            justify-content: space-between;
            &--img {
                width: 70%;
                &:nth-of-type(2) {
                    align-self: flex-end;
                    margin-top: 60%;
                }
            }
            &--tit {
                li {
                    font-size: 3rem;
                }
            }
        }
        &--expr {
            h2 {
                font-size: var(-fsz-tit);
            }
            h3 {
                font-family: "Pretendard";
                font-size: 24px;
            }
            h4 {
                font-size: 18px;
            }
            .badge {
                margin: 20px 0;
            }
            & .expr--works {
                & .slide {
                    &__group {
                        width: 100%;
                        margin: 0 10px;
                        aspect-ratio: 1/1.25;
                    }
                    &--movie {
                        margin: 40px 0 0;
                    }
                    &--ctrl {
                        top: calc(100% + 1.25rem);
                        bottom: auto;
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);
                        width: 100%;
                        text-align: center;
                        & button:first-child {
                            margin-right: 16px;
                        }
                        & button:last-child {
                            margin-left: 16px;
                        }
                    }
                    & h3 {
                        margin-bottom: 0;
                    }
                    & h4 {
                        margin-top: 40px;
                    }
                    & .badge {
                        display: none;
                    }
                }
            }
            & .expr--galry {
                margin-top: 9.375rem;
                & .galry__area {
                   & > a {
                    position: relative;
                    margin-bottom: 20px;
                    @include border-radius;
                    &:nth-child(2n) {
                        flex-direction: unset;
                        & .galry--txt {
                            justify-items: unset;
                        }
                    }
                    & .galry--txt{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        z-index: 20;
                        width: 100%;
                        min-height: 30%;
                        padding: .75rem .75rem 2rem .75rem;
                        color: #fff;
                        background: linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 19%, rgba(0, 0, 0, 0) 100%);
                    }
                    & .galry--img{
                        width: 100%;
                        aspect-ratio: 1/1.28;
                        border-radius: unset;
                    }
                   }
                }
                & h3 {
                    margin-bottom: .75rem;
                }
                & h4 {
                    margin-bottom: 0;
                }
                & .badge {
                    margin-bottom: .75rem;
                    & span {
                        background-color: #fff;
                        color: $colr-black;
                    }
                }
            }
        }    
    }
    .pop {
        &--float-nav {
            .float-nav--title {
                margin-top: 12px !important;
                .slick-arrow {
                    min-width: 24px;
                    height: 24px;
                }
            }
            .float--accrd > div {
                small {
                    font-size: 16px;
                }
                .ar--btn {
                    font-size: 16px;
                }
               
            }
        }
        &--body,
        &--foot {
            padding: 50px 20px;
        }
        &--foot {
            &.main--tit-icon::before {
                font-size: 35.2px;
            }
            div {
                width: 200px;
            }
            .ar--btn {
                width: 96px;
                margin-top: 20px;
            }
        }

        &--group {
            p {
                font-size: 16px;
            }
        }
        .slick--item.tok video + p {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: -33.6px;
                left: 0;
                display: block;
                width: 100%;
                height: .1875rem;
                background-color: #fff;
            }
        }
    }
    .ani {
        &--spread {
            li {
                height: 51px;
            }
        }
        &--y {
            &::after {
                display: none;
            }
            i {
                display: none;
            }
        } 
    }
}
@media screen and (max-width: $mobile-sm) {
    .main {
        &--home {
            &--tit,
            .main--tit-icon::before {
                font-size: 16vw;
            }
            &--arrw {
                font-size: 18vw;
            }
            &--arrw {
                width: calc(18vw * 4);
            }
            &--tit:nth-child(2) span:last-of-type {
                position:relative;
                &::after {
                    content: '';
                    height: .5625rem;
                }
            }
            small {
                margin-bottom: 24px;
                line-height: 150%;
                span {
                    display: block;
                }
            }
        }
        &--me {
            &--tit {
                &::before {
                    width: 90px;
                    margin-bottom: -12px;
                }
                li {
                    font-size: 32px;
                }
            }
        }
        &--expr {
            & h2{
                font-size: 1.875rem;
            }
            & .expr--galry {
                & h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &  p {
                    display: none;
                }
            }
        }
        &--cntc {
            div {
                width: 80%;
            }
            .ar--btn {
                width: calc(50% - 6px);
                margin-top: 32px;
            }

        }
    }
    .pop {
        &__group {
            .line-break-01,
            .line-break-02 {
                display: inline;
            }
        }
        &--float-nav {
            padding-bottom: 12px;
            .float-nav--title {
                justify-content: space-between;
                margin-top: 16px;
            }
        } 
        .slick--item.tok video {
            width: auto;
            max-width: 100%;
            //height: calc(100dvh - 100px);
        }
    }
}
